<div class="formDiv">
<form class="signUpForm">
  <h3>Sign Up</h3>
  <div class="eachFormDiv">
    <label for="signUpEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="signUpEmail" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We will literally never email you.</div>
  </div>
  <div class="eachFormDiv">
    <label for="signUpPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="signUpPassword">
  </div>
  <button id="signUpBtn" type="submit" class="btn btn-primary signUpSubmit animatedBtn">Submit</button>
</form>
</div>

{{!-- <script src= "/js/homepage.js"></script> --}}